*{
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar {
  width: 0.7rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #700400;
  border-radius: 3rem;
}


body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width:100%;
}
.hero{
  background-image: url(../images/banner1.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items:start;
}
.container{
  width: 100%;
  
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero img{
  width: 300px;
  height: 180px;
}

.listen a {
  background-color: #970000;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
  border-radius: 10px;
}

.programacao {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 3em 0 1em 0;
  color: #1b1b1b;

  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("../images/background-blocks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.news {
  background-color: #FFFFFF;
}

.programacao__div {
  margin-top: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../images/mulher.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;


}

.programacao h2 {
  color: rgb(90, 4, 124);
  font-size: 1.8em;
  margin-bottom: 0.5em;
  text-align: center;
}

.programacao h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.programacao__list {
  margin-bottom: 4em;
}

.programacao__item {
  font-size: 1em;
  margin: 0.7em;
}

.pedido-de-musica {
  text-decoration: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 28px;
  margin-left: 1em;
  text-align: center;
}

footer,
footer a{
  color: #FFFFFF;
}

.top-8{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding-bottom: 6em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/background-blocks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top-8 h2 {
  margin: 1.5em auto;
  font-size: 42px;
}

.lista-top-8{
  display: flex;
  gap: 1em;
  list-style: none;
}
.capa-do-album{
  width: 8vw;
  margin-bottom: 1em;
}

.img-container{
  overflow: hidden;
  width: 8vw;
  height: 8vw;
}
.img-container:hover{
  border-radius: 2px;
}

.img-container img{
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.img-container:hover img{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  
}

.lista-top-8 li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.banda{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.2em;
}
.titulo{
  font-size: 14px;
}